<h2 mat-dialog-title>
    <mat-icon>person</mat-icon>Login
</h2>
<mat-divider class="border-2"></mat-divider>
<mat-dialog-content>
    <form id="miFormulario" [formGroup]="frmLogin" (ngSubmit)="onLogin()">
        <mat-form-field class="w-full">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="idUsuario">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="passw" type="password">
        </mat-form-field>
        @if (errorLogin()) {
           <span class="text-red-600">Usuario o Contraseña no valida</span>
        }

        <input type="hidden" formControlName="id">
    </form>

</mat-dialog-content>
<mat-divider class="border-2"></mat-divider>
<mat-dialog-actions>
    <button mat-button mat-raised-button type="submit"  form="miFormulario">Aceptar</button>
</mat-dialog-actions>