<mat-card>
    <div class="p-6 bg-white border bg-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <mat-card-header class="bg-blue-950 h-15 flex justify-center">
            <mat-card-title class="tituloC">
                <mat-icon>manage_accounts</mat-icon> Catálogo Administradores
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title (click)="togglePanel(); limpiar();">
                        Filtrar - Click para {{panelOpenState() ? 'Cerrar' : 'Abrir'}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field>
                    <mat-label>Id Administrador</mat-label>
                    <input matInput #fidAdministrador id="fidAdministrador" (keyup)="onFiltroChange({
              idAdministrador: fidAdministrador.value,
              nombre: fnombre.value,
              apellido1 : fapellido1.value,
              apellido2 : fapellido2.value
            });" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput #fnombre id="fnombre" (keyup)="onFiltroChange({
              idAdministrador: fidAdministrador.value,
              nombre: fnombre.value,
              apellido1 : fapellido1.value,
              apellido2 : fapellido2.value
            });" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido 1</mat-label>
                    <input matInput #fapellido1 id="fapellido1" (keyup)="onFiltroChange({
              idAdministrador: fidAdministrador.value,
              nombre: fnombre.value,
              apellido1 : fapellido1.value,
              apellido2 : fapellido2.value
            });" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido 2</mat-label>
                    <input matInput #fapellido2 id="fapellido2" (keyup)="onFiltroChange({
              idAdministrador: fidAdministrador.value,
              nombre: fnombre.value,
              apellido1 : fapellido1.value,
              apellido2 : fapellido2.value
            });" />
                </mat-form-field>
            </mat-expansion-panel>

            <table mat-table [dataSource]="dataSource()">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <ng-container matColumnDef="idAdministrador">
                        <th mat-header-cell *matHeaderCellDef>Id Administrador</th>
                        <td mat-cell *matCellDef="let element">{{element.idAdministrador}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef>Nombre</th>
                        <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                    </ng-container>

                    <ng-container matColumnDef="apellido1">
                        <th mat-header-cell *matHeaderCellDef>Apellido 1</th>
                        <td mat-cell *matCellDef="let element">{{element.apellido1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="apellido2">
                        <th mat-header-cell *matHeaderCellDef>Apellido 2</th>
                        <td mat-cell *matCellDef="let element">{{element.apellido2}}</td>
                    </ng-container>

                    <ng-container matColumnDef="celular">
                        <th mat-header-cell *matHeaderCellDef>Celular</th>
                        <td mat-cell *matCellDef="let element">{{element.celular}}</td>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef>Correo</th>
                        <td mat-cell *matCellDef="let element">{{element.correo}}</td>
                    </ng-container>

                    <ng-container matColumnDef="botonera">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center">
                            <button (click)="onNuevo();"
                                class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-0.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                <mat-icon>add</mat-icon>
                            </button>
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex content-around">
                                <button (click)="onInfo(element.id)" type="button"
                                    class="flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    <mat-icon>info</mat-icon>
                                </button>

                                <button (click)="onEditar(element.id)" type="button"
                                    class="flex items-center text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:focus:ring-yellow-900">
                                    <mat-icon>edit</mat-icon>
                                </button>

                                @if(srvAuth.userActualS().rol===1){
                                <button (click)="onEliminar(element.id)" type="button"
                                    class="flex items-center text-white bg-red-700 hover:bg-red-800 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                }

                                <button (click)="onResetearPassword(element.id)" type="button"
                                    class="flex items-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                    <mat-icon>key</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                </thead>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
            </table>

            <mat-paginator [length]="totalRegistros()" [pageSize]="5" [pageSizeOptions]="[5,10,15]">
            </mat-paginator>
        </mat-card-content>

        <mat-card-footer class="bg-gray-200  h-15 flex items-center rounded-lg justify-end ">
            <button (click)="onImprimir();" matButton="filled"
                class="!bg-green-800 me-2"><mat-icon>printer</mat-icon>imprimir</button>
            <button [routerLink]="['/home']" matButton="filled"
                class="!bg-red-600 me-2"><mat-icon>cancel</mat-icon>cerrar</button>
        </mat-card-footer>
    </div>
</mat-card>