<header class="h-12 flex items-center justify-between px-4 bg-blue-950 text-white">

    <div class="empresa flex ml-4">
        <div class="logo">
            <mat-icon>electrical_services</mat-icon>
        </div>
        <div class="titulo">Electro Home</div>
    </div>
    <div class="me-4 flex items-center gap-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger class="me-4 cursor-pointer
                px-1.25 py-0.5 rounded-full hover:bg-gray-300 active:border-2 active:border-gray-400">
            <mat-icon>person</mat-icon>
        </button>
        <span>{{srvAuth.userActualS().nombre}}</span>
    </div>
    <mat-menu #menu="matMenu">
        @if(srvAuth.userActualS().rol === -1){
        <button mat-menu-item [routerLink]="['/login']">Iniciar Sesion</button>
        }
        @else{
        <button mat-menu-item (click)="logOut();">Cerrar Sesion</button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="changePasswForm();">Cambiar Contraseña</button>
        }

    </mat-menu>
</header>