<div class="home-container">
    <div class="header-title">
        <h1>Bienvenido a Electro Home</h1>
    </div>
  
  <p class="intro">
    En este sistema podrás gestionar eficientemente el proceso de reparación de electrodomésticos como televisores, radios, consolas y más. Desde el registro inicial del aparato y su propietario, hasta el diagnóstico, reparación y entrega.
  </p>

  <div class="card-grid">
    <mat-card class="feature-card">
      <mat-card-header>
        <mat-icon class="feature-icon">engineering</mat-icon>
        <mat-card-title>Recepción y registro inteligente</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Registra artefactos, colaboradores y datos del cliente rápidamente.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-header>
        <mat-icon class="feature-icon">update</mat-icon>
        <mat-card-title>Estado en tiempo real</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Consulta el avance de reparación desde cualquier lugar.</p>
      </mat-card-content>
    </mat-card>

  </div>
</div>
