<mat-card>
  <div class="p-6 bg-white border bg-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <mat-card-header class="bg-blue-950 h-15 flex justify-center">
      <mat-card-title class="tituloC">
        <mat-icon>tv</mat-icon> Catálogo Artefactos
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title (click)="togglePanel(); limpiar();">
            Filtrar - Click para {{panelOpenState() ? 'Cerrar' : 'Abrir'}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>Serie</mat-label>
          <input matInput #fserie id="fserie" (keyup)="onFiltroChange({
            serie: fserie.value,
            marca: fmarca.value,
            modelo: fmodelo.value,
            categoria: fcategoria.value
          });" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <input matInput #fmarca id="fmarca" (keyup)="onFiltroChange({
            serie: fserie.value,
            marca: fmarca.value,
            modelo: fmodelo.value,
            categoria: fcategoria.value
          });" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Modelo</mat-label>
          <input matInput #fmodelo id="fmodelo" (keyup)="onFiltroChange({
            serie: fserie.value,
            marca: fmarca.value,
            modelo: fmodelo.value,
            categoria: fcategoria.value
          });" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Categoría</mat-label>
          <input matInput #fcategoria id="fcategoria" (keyup)="onFiltroChange({
            serie: fserie.value,
            marca: fmarca.value,
            modelo: fmodelo.value,
            categoria: fcategoria.value
          });" />
        </mat-form-field>
      </mat-expansion-panel>

      <table mat-table [dataSource]="dataSource()">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <ng-container matColumnDef="serie">
            <th mat-header-cell *matHeaderCellDef>Serie</th>
            <td mat-cell *matCellDef="let element">{{element.serie}}</td>
          </ng-container>

          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element">{{element.marca}}</td>
          </ng-container>

          <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef>Modelo</th>
            <td mat-cell *matCellDef="let element">{{element.modelo}}</td>
          </ng-container>

          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">{{element.categoria}}</td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
          </ng-container>

          <ng-container matColumnDef="botonera">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
              <button (click)="onNuevo();"
                class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-0.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <mat-icon>add</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="flex content-around">
                <button (click)="onInfo(element.id)" type="button"
                  class="flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2">
                  <mat-icon>info</mat-icon>
                </button>

                <button (click)="onEditar(element.id)" type="button"
                  class="flex items-center text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2">
                  <mat-icon>edit</mat-icon>
                </button>

                @if(srvAuth.userActualS().rol===1 || srvAuth.userActualS().rol === 2){
                <button (click)="onEliminar(element.id)" type="button"
                  class="flex items-center text-white bg-red-700 hover:bg-red-800 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 mx-2">
                  <mat-icon>delete</mat-icon>
                </button>
                }
              </div>
            </td>
          </ng-container>
        </thead>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>

      <mat-paginator [length]="totalRegistros()" [pageSize]="5" [pageSizeOptions]="[5,10,15]">
      </mat-paginator>
    </mat-card-content>

    <mat-card-footer class="bg-gray-200  h-15 flex items-center rounded-lg justify-end ">
      <button (click)="onImprimir();" matButton="filled"
        class="!bg-green-800 me-2"><mat-icon>printer</mat-icon>imprimir</button>
      <button [routerLink]="['/home']" matButton="filled"
        class="!bg-red-600 me-2"><mat-icon>cancel</mat-icon>cerrar</button>
    </mat-card-footer>
  </div>
</mat-card>

